.community-header {
    margin: 7.5rem 8.75rem 0 8.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d4d4d4;
}

.tablist {
    margin: 40px 0 40px 0;
    padding-left: 8.75rem;
    padding-right: 8.75rem;
}

.tab-btn {
    background: none;
    font-size: 20px;
    font-weight: 400;
    padding: 15px 20px 15px 20px;
    margin-right: 20px;
    border: 1px solid #d4d4d4;
    border-radius: 7rem;
}

.tabpanel {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin: 0 8.75rem 0 8.75rem;
}

.community-p {
    font-size: 18px;
    margin: 0;
}

.community-container {
    display: flex;
    flex-direction: column;
    width: 325px;
    border: 1px solid #d4d4d4;
    border-radius: 1rem;
    margin: 10px;
    padding: 15px;
}

.maker-info {
    margin-bottom: 20px;
}

.work-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.view-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}

.like-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}

.reply-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.work-info-img {
    height: 20px;
    padding-right: 10px;
}

.temporary-container {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    width: 325px;
    border: 1px solid #d4d4d4;
    border-radius: 1rem;
    margin: 10px;
    padding: 15px;
}