.signin-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

legend {
    display: none;
}

label {
    font-size: 24px;
    font-weight: 600;
}

.main-h1 {
    margin-top: 140px;
    text-align: center;
}

fieldset {
    margin-top: 40px;
    align-items: center;
    border: none;
}

input {
    width: 425px;
    font-size: 20px;
    padding: 15px 20px 15px 20px;
    margin: 10px 0 20px 0;
    border: 1px solid #d4d4d4;
    border-radius: 1rem;
}

.checked {
    display: flex;
    flex-direction: row;
}

.checked {
    margin: 10px 0 30px 0;
}

.checked label {
    font-size: 20px;
    font-weight: 400;
}

input[type="checkbox"] {
    padding: 0;
    margin: 0;
    width: 50px;
}

.signin-btn {
    padding: 0.938rem 1.25rem 0.938rem 1.25rem;
    border: 0.063rem solid #6990df;
    font-weight: 600;
    width: 450px;
    margin-bottom: 20px;
    border-radius: 7rem;
    font-size: 24px;
    background: none;
    color:#6990df;
}

.signin-btn:hover {
    background: #6990df;
    color: white;
}

.find-container {
    display: flex;
    justify-content:space-evenly;
    width: 250px;
    font-size: 20px;
    color: #7c7c7c;
}

.find-container a {
    color: #7c7c7c;
}
